<div class="jumbotron">
  <div ng-repeat="message in messages">
    {{ message.user }} - {{ message.text }}
  </div>
</div>

<div class="row marketing">
  <div class="input-group">
    <span class="input-group-addon">Name:</span>
    <input type="text" class="form-control" ng-model="currentUser" />
  </div>
  <div class="input-group">
    <span class="input-group-addon">Message:</span>
    <input type="text" class="form-control" ng-model="currentText">
    <span class="input-group-btn">
      <button class="btn btn-success" type="button" ng-click="sendMessage()">Send</button>
    </span>
  </div>
</div>

<!-- <div class="row marketing">

  <input type="text" class="form-control" ng-model="message.text" />

  <button type="button"
          class="btn btn-success"
          ng-click="setMessage()">Set Message</button>
  <button type="button"
          class="btn btn-warning"
          ng-click="updateMessage()">Update Message</button>
  <button type="button"
          class="btn btn-danger"
          ng-click="deleteMessage()">Delete Message</button>
</div> -->
